@use "variables" as *;

// =====================
// Mixin
// Tekrar kullanılabilir CSS kodlarını tanımlamamızı sağlar
// =====================
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// =====================
// Responsive Mixins
// Farklı ekran boyutlarına kullanıcak
// media query kodlarını yönetir
// =====================
@mixin respond-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content; // @include dendikten sonra mixin içine yazılan kod
  }
}

@mixin respond-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
